<!-- Banner -->
  <section id="banner">
    <div class="inner">
      <h2>PayMates</h2>
      <p>Welcome to PayMates, where you can post<br />
	  payment notifications to your roomates!</p>
      <ul class="actions">
	    <% # TODO: dynamically load the urls for sign in/sign up %>
        <li><a href="#" class="button special">Sign In</a></li>
        <li><a href="#" class="button special">Sign Up</a></li>
      </ul>
    </div>
  </section>
