<!-- Banner -->
  <section id="banner">
    <div class="inner">
      <h2>PayMates</h2>
      <p>Welcome to PayMates, where you can post<br />
	  payment notifications to your roomates!</p>
      <ul class="actions">
        <li><a href="<%= new_user_session_path %>" class="button special">Sign In</a></li>
        <li><a href="<%= new_user_registration_path %>" class="button special">Sign Up</a></li>
      </ul>
    </div>
  </section>
